:root {
  --font-family: Be Vietnam Pro, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_block_04 {
  display: flex;
  flex-direction: row;
  background: transparent;
  flex-wrap: wrap;
  width: 100%;
}

.home_block_04 .item {
  flex: 0 0 50%;   /* Không co giãn, cố định 50% độ rộng */
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-direction: column;
  padding: 28px 8px;
  border-top: 1px solid #aeb5b3;
  border-right: 1px solid #aeb5b3;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.home_block_04 .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* Vị trí CHẴN (2, 4, 6...) */
.home_block_04 .item:nth-of-type(even) {
  border-right: none;
}

.home_block_04 .number {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #d56a3d;
  line-height: 1;
  font-family: var(--font-family);
  transition: 0.3s;
}

.home_block_04 h3 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font-family);
  transition: 0.3s;
}

.home_block_04 p {
  font-size: 17px;
  color: #444;
  line-height: 1.7;
  font-family: var(--font-family);
  transition: 0.3s;
}

.home_block_04 .item svg {
  width: 20px;
  height: 20px;
  color: rgb(80, 80, 80);
  transition: 0.3s;
}

/* Hover */
.home_block_04 .item:hover {
  background: url("https://115.78.228.208:20350/autowebapp/6a8c0478719658390c0ef2be/images/design/blocks/%E1%BA%A3nh-1---website-maxon-indus.jpeg");
  background-repeat: no-repeat;
  transition: 0.3s;
  background-size: cover;
}

.home_block_04 .item:hover .number {
  color: #fff;
  transition: 0.3s;
}

.home_block_04 .item:hover h3,
.home_block_04 .item:hover p {
  color: #fff;
  transition: 0.3s;
}

.home_block_04 .item:hover svg {
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .home_block_04 {
    flex-wrap: wrap;
  }

  .home_block_04 .item {
    flex: 0 0 50%;
  }
}

@media (max-width: 576px) {
  .home_block_04 {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .home_block_04 .item {
    max-width: none;
    flex: 0 0 100%;
    border: none;
    border-top: 1px solid #aeb5b3;
  }

  .home_block_04 .number {
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .home_block_04 .item {
    gap: 16px;
  }
  .home_block_04 .arrow {
    display: none;
  }
}