::root {
  --font-family: Be Vietnam Pro, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_block_07 {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #aeb5b3;
  background: transparent;
}

.home_block_07 .item {
  display: flex;
  gap: 8px;
  flex: 1;
  flex-direction: column;
  padding: 28px;
  border-bottom: 1px solid #aeb5b3;
  border-left: 1px solid #aeb5b3;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.home_block_07 .item:last-child {
  border-right: 1px solid #aeb5b3;
}

.home_block_07 .number {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #d56a3d;
  line-height: 1;
  font-family: var(--font-family);
  transition: 0.3s;
  margin-bottom: 40px;
}

.home_block_07 h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--font-family);
  transition: 0.3s;
}

.home_block_07 p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  font-family: var(--font-family);
  transition: 0.3s;
}

.home_block_07 p.subtitle {
  font-size: 14px;
  color: #d56a3d;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: var(--font-family);
  margin-bottom: 12px;
  transition: 0.3s;
}

/* Hover */
.home_block_07 .item:hover {
  background: url("https://115.78.228.208:20350/autowebapp/6a8c0478719658390c0ef2be/images/design/blocks/%E1%BA%A3nh-1---website-maxon-indus.jpeg");
  background-repeat: no-repeat;
  transition: 0.3s;
  background-size: cover;
}

.home_block_07 .item:hover .number {
  color: #fff;
  transition: 0.3s;
}

.home_block_07 .item:hover h3,
.home_block_07 .item:hover p {
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .home_block_07 {
    flex-direction: column;
    border: 1px solid #97a09e79;
  }

  .home_block_07 .item {
    flex: 0 0 100%;
    border: none;
    border-bottom: 1px solid #b5c0bc;
  }
  
  .home_block_07 .item:last-child {
    border: none;
  }
}

@media (max-width: 576px) {
  .home_block_07 {
    border: none;
  }

  .home_block_07 .item {
    flex: 0 0 100%;
  }
}

@media (max-width: 425px) {
  .home_block_07 .item {
    flex-direction: column;
  }
}