:root {
  --font-family: Be Vietnam Pro, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_block_05 {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #aeb5b3;
  background: transparent;
}

.home_block_05 .item {
  display: flex;
  gap: 16px;
  flex: 1;
  flex-direction: column;
  padding: 28px 8px;
  border-top: 1px solid #aeb5b3;
  border-right: 1px solid #aeb5b3;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.home_block_05 .item:last-child {
  border-right: none;
}

.home_block_05 .content {
  width: 100%;
}

.home_block_05 h3 {
  color: #d56a3d;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font-family);
  transition: 0.3s;
  text-transform: uppercase;
}

.home_block_05 p {
  font-size: 16px;
  color: #fff;
  line-height: 1.7;
  font-family: var(--font-family);
  transition: 0.3s;
}

/* Hover */
.home_block_05 .item:hover {
  background: url("https://115.78.228.208:20350/autowebapp/6a8c0478719658390c0ef2be/images/design/blocks/%E1%BA%A3nh-1---website-maxon-indus.jpeg");
  background-repeat: no-repeat;
  transition: 0.3s;
  background-size: cover;
}

.home_block_05 .item:hover h3,
.home_block_05 .item:hover p {
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .home_block_05 .item {
    flex: 0 0 33.3%;
  }
}

@media (max-width: 576px) {
  .home_block_05 {
    flex-direction: column;
  }

  .home_block_05 .item {
    flex: 0 0 100%;
    border: none;
    border-top: 1px solid #aeb5b3;
  }
}

@media (max-width: 425px) {
  .home_block_05 .item {
    flex-direction: column;
    gap: 16px;
  }
}