:root {
  --font-family: Be Vietnam Pro, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_block_08 {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #aeb5b3;
  background: transparent;
}

.home_block_08 .item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex: 1;
  flex-direction: column;
  padding: 28px 8px;
  border-bottom: 1px solid #aeb5b3;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.home_block_08 .number {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #d56a3d;
  line-height: 1;
  font-family: var(--font-family);
  transition: 0.3s;
}

.home_block_08 .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_block_08 h3 {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
  font-family: var(--font-family);
  transition: 0.3s;
}

.home_block_08 p,
.home_block_08 span {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
  font-family: var(--font-family);
  transition: 0.3s;
}

.home_block_08 .btn {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.home_block_08 .category,
.home_block_08 .subtitle,
.home_block_08 .btn p {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.home_block_08 .category {
  color: #d56a3d;
  margin-bottom: 16px;
  transition: 0.3s;
}

.home_block_08 .btn p,
.home_block_08 .btn svg {
  color: #000;
}

.home_block_08 .btn svg {
  
}

/* Hover */
.home_block_08 .item:hover {
  background: url("https://115.78.228.208:20350/autowebapp/6a8c0478719658390c0ef2be/images/design/blocks/%E1%BA%A3nh-1---website-maxon-indus.jpeg");
  background-repeat: no-repeat;
  transition: 0.3s;
  background-size: cover;
}

.home_block_08 .item:hover .number {
  color: #fff;
  transition: 0.3s;
}

.home_block_08 .item:hover h3,
.home_block_08 .item:hover p,
.home_block_08 .item:hover svg,
.home_block_08 .item:hover span {
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .home_block_08 {
    flex-direction: column;
  }

  .home_block_08 .item {
    flex: 0 0 100%;
  }
}

@media (max-width: 576px) {
  .home_block_08 .item {
    flex: 0 0 100%;
  }
}

@media (max-width: 425px) {
  .home_block_08 .item {
    flex-direction: column;
  }
}